
@model HalisahaFormamSite.Models.Order
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />



<div class="container">
    <div class='row'>
        <div class='col-md-4'></div>
        <div class='col-md-4'>
            <script src='https://js.stripe.com/v2/' type='text/javascript'></script>
            <form accept-charset="UTF-8" action="/" class="require-validation" data-cc-on-file="false" data-stripe-publishable-key="pk_bQQaTxnaZlzv4FnnuZ28LFHccVSaj" id="payment-form" method="post">
                <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓" /><input name="_method" type="hidden" value="PUT" /><input name="authenticity_token" type="hidden" value="qLZ9cScer7ZxqulsUWazw4x3cSEzv899SP/7ThPCOV8=" /></div>
                <div class='form-group'>
                    <div class='col-xs-12 form-group '>
                        <label class='control-label'>Kart Adı</label>
                        <input class='form-control' size='4' type='text'>
                    </div>
                </div>
                <div class='form-group'>
                    <div class='col-xs-12 form-group'>
                        <label class='control-label'>Kart Numarası</label>
                        <input autocomplete='off' class='form-control ' size='20' type='text'>
                    </div>
                </div>
                <div class='form-group'>
                    <div class='col-xs-4 form-group'>
                        <label class='control-label'>CVC</label>
                        <input autocomplete='off' class='form-control ' placeholder='ex. 311' size='4' type='text'>
                    </div>
                    <div class='col-xs-4 form-group '>
                        <label class='control-label'>Ay</label>
                        <input class='form-control ' placeholder='MM' size='2' type='text'>
                    </div>
                    <div class='col-xs-4 form-group'>
                        <label class='control-label'>Yıl</label>
                        <input class='form-control' placeholder='YYYY' size='4' type='text'>
                    </div>
                </div>
                <div class='form-group'>
                    <div class='col-md-12'>
                        <div class='form-control  btn btn-info'>
                            Toplam:
                            <span class='amount'>@Html.DisplayFor(model =>model.Total )</span>
                        </div>
                    </div>
                </div>
                <div class='form-group'>
                    <div class='col-md-12 form-group'>
                        <a href="@Url.Action("Complete", "Checkout", new { id = Model.OrderId }) " class="form-control btn btn-primary">Satın Al</a>
                    </div>
                      
                    </div>
                </div>
                <div class='form-group'>
                    <div class='col-md-12 error form-group hide'>
                        <div class='alert-danger alert'>
                            Please correct the errors and try again.
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class='col-md-4'></div>
    </div>
</div>

