
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<link href="~/Content/bootstrap.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ul class="nav nav-pills nav-justified thumbnail">
                <li class ="active">
                    <a href="#">
                        <h4 class="list-group-item-heading">İlk Adım</h4>
                        <p class="list-group-item-text">Dizaynınızı Seçiniz</p>
                    </a>
                </li>
                <li class="disabled" >
                    <a href="#">
                        <h4 class="list-group-item-heading">İkinci Adım Satın Al </h4>
                        <p class="list-group-item-text">Sepetinizi Onaylayın</p>
                    </a>
                </li>
                <li class="disabled" >
                    <a href="#">
                        <h4 class="list-group-item-heading">Üçüncü Adım Kargola</h4>
                        <p class="list-group-item-text">Kargo  Şirketinizi seçiniz</p>
                    </a>
                </li>
                <li class="disabled" >
                    <a href="#">
                        <h4 class="list-group-item-heading">Dördüncü Adım Ödeme</h4>
                        <p class="list-group-item-text">Ödeme Yapınız</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <h4>
            Simple Pricing Table
        </h4>
        <div class="col-md-4">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h4 class="text-center">
                        B.Dortmund
                    </h4>
                </div>
                <div class="panel-body text-center">
                    <p class="lead">
                        <strong>50 TL</strong>
                    </p>
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item"><i class="icon-ok text-danger"></i><img src="/Content/img/B.dortmund/36080.jpg" width="280" height="280" class="img-responsive"></li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>%30 İndirimde</li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span></li>
                </ul>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group">

                                <input type="checkbox">


                            </div><!-- /input-group -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="text-center">
                        Barcelona
                    </h4>
                </div>
                <div class="panel-body text-center">
                    <p class="lead">
                        <strong>50 TL</strong>
                    </p>
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item"><i class="icon-ok text-danger"></i><img src="/Content/img/B.dortmund/28440.jpg" width="280" height="280" class="img-responsive"></li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>%30 İndirimde</li>
                    <li class="list-group-item"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span></li>
                </ul>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group">

                                <input type="checkbox">


                            </div><!-- /input-group -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="text-center">
                        Barcelona
                    </h4>
                </div>
                <div class="panel-body text-center">
                    <p class="lead">
                        <strong>50 TL</strong>
                    </p>
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item"><i class="icon-ok text-danger"></i><img src="/Content/img/B.dortmund/images.jpg" width="280" height="280" class="img-responsive"></li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>%30 İndirimde</li>
                    <li class="list-group-item"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span></li>
                </ul>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group">

                                <input type="checkbox">


                            </div><!-- /input-group -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>


<a class="btn btn-danger" href="/Checkout/">Devam Et</a>


